<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="list-group">

        <a href="http://localhost:8080/signup" class="list-group-item list-group-item-action">Sing Up</a>
        <a href="http://localhost:8080/login" class="list-group-item list-group-item-action">Log in</a>
        <a th:href="@{http://localhost:8080/profile(id=${user})}"
           class="list-group-item list-group-item-action">Profile</a>
    </div>

</header>
<main>

    <h2 style=" top: 70px; left: 30px;   text-align: center;" class="mainText ;" >WELCOME TO CODE FELLOWS SHIP</h2>

    <img style="width: 100%; position: relative" class="HeroImg" src="https://soimagescdn.azureedge.net/productimage/learningenvironment/ArticleHeader/computer-lab-hero.jpg" alt="dev" />

    <ul th:each="post : ${postList}" class="list-group" style="width: 70%; margin: auto; margin-top: 30px">
        <li class="list-group-item disabled">Post :<span th:text="${post.body}"></span><br /></li>
        <li class="list-group-item disabled">Time :<span th:text="${post.createAt}"></span><br /></li>
        <li class="list-group-item disabled">
            Posted By :<span style="display: inline-block" th:text="${post.user.username}"></span>
            <form style="float: right" th:action="@{/follow(id=${post.getApplicationUser().getId()})}" method="post">
                <button class="btn btn-warning" type="submit">Follow</button>
            </form>
            <br />
        </li>
        <br />
    </ul>
</main>
</body>
</html>