<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="list-group">

        <a href="http://localhost:8080/signup" class="list-group-item list-group-item-action">Sing Up</a>
        <a href="http://localhost:8080/login" class="list-group-item list-group-item-action">Log in</a>
        <a th:href="@{http://localhost:8080/profile(id=${user})}"
           class="list-group-item list-group-item-action">Profile</a>
    </div>

</header>
<main>
    <h1>FELLOWS SHIP</h1>
</main>
</body>
</html>