<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div>
    <p>USER NAME :<span th:text="${username}"></span></p>
    <p>FIRST NAME :<span th:text="${firstName}"></span></p>
    <p>LAST NAME :<span th:text="${lastName}"></span></p>
    <p>DATE OF BIRTH :<span th:text="${dateOfBirth}"></span></p>
    <p>BIO :<span th:text="${bio}"></span></p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ96TPl8q23SwTbq8A6IhWV-o5-guEGaFZuFQ&usqp=CAU" alt="profile img" />
</div>
</body>
</html>