<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form method="POST" action="/signup">
    <div class="form-group">
        <label for="username">User Name</label>
        <input id="username" class="form-control" name="username" type="text">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" name="password" type="password">
    </div>

    <div class="form-group">
        <label for="firstName">First name</label>
        <input id="firstName" class="form-control" name="firstName" type="text">
    </div>

    <div class="form-group form-check">
        <label for="lastName">Last name</label>
        <input id="lastName" class="form-control" name="lastName" type="text">
    </div>

    <div class="form-group form-check">
        <label for="dateOfBirth">DOB</label>
        <input id="dateOfBirth" class="form-control" name="dateOfBirth" type="text">
    </div>

    <div class="form-group form-check">
        <label for="bio">Bio</label>
        <input id="bio" name="bio" class="form-control" type="text">
    </div>

    <button type="submit">Sign up</button>

</form>


</body>
</html>